<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAjuODFMIhFztYgrqVFO8jaQsISTKC5P24</string>
	<key>GCM_SENDER_ID</key>
	<string>688209842847</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.doerz.achevdemo</string>
	<key>PROJECT_ID</key>
	<string>achev-mobile-app</string>
	<key>STORAGE_BUCKET</key>
	<string>achev-mobile-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:688209842847:ios:b745f9c81cd268d94348aa</string>
</dict>
</plist>